<section>
    <div class="container">
        <div class="row">
            <div class="col-lg text-center">
                <form method="post" action="/usuarioRegister" class="cadastro-form">
                    <label>Sign Up</label>
                    <div class="form-group">
                        <input type="email" id="email" name="email" placeholder="Email..." required>
                    </div>
                    <div class="form-group">
                        <input type="password" id="senha" name="senha" placeholder="Senha..." required>
                    </div>
                    <div class="form-group">
                        <input type="password" id="senha" name="confirmSenha" placeholder="Confirmar Senha..." required>
                    </div>
                    <div class="form-group">
                        <button type="submit" name="cadastro" class="login-button">Cadastrar</button>
                    </div>
                    <p>Já possui uma conta? <a href="/usuarioLogin">Logue agora</a></p>
                    <% if (erro) { %>
                        <p class="erro-mensagem"><%= erro %></p>
                    <% } %>
                </form>
            </div>
        </div>
    </div>
</section>