
  <div class="container" style="padding-top: 25vh;">
    <div class="row">
        <div class="col-lg-6 d-flex justify-content-center">
            <div class="box">
                <form action="/medicamentos" method="GET">
                    <button type="submit" class="btnEntrar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="70" fill="#000" class="bi bi-file-earmark-plus" viewBox="0 0 16 16" style="margin-right: 10px;">
                            <path d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5z"/>
                            <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
                        </svg>
                        <p>CADASTRAR</p>
                    </button>
                </form>
            </div>
        </div>

        <div class="col-lg-6 d-flex justify-content-center">
            <div class="box">
                <form action="/lista" method="GET">
                    <button type="submit" class="btnEntrar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="70" fill="#000" class="bi bi-list-ul" viewBox="0 0 16 16" style="margin-right: 25px;">
                            <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                        </svg>
                        <p>LISTA</p>
                    </button>
                </form>
            </div>
        </div>
    </div>
  </div>








