.box{
    margin: 50px;
}

.btnEntrar{
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 10px;
    width: 200px;
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
}
.btnEntrar p{
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
}