@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

img{
    width: 100%;
    height: 100%;
}

section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

label{
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #0A9781;
}

input{
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #0A9781;
    color: #0A9781 !important;
    background-color: transparent;
    padding: 10px;
}

input::placeholder {
    color: #0A9781;
}

.form-group{
    margin: 30px;
}
.login-form{
    width: 100%;
    height: 100%;
}

.login-button{
    width: 100px;
    height: 50px;
    color: #0A9781;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #0A9781;
}

.erro-mensagem {
    color: #f00;
    margin-top: 10px;
} 