<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar</title>
</head>

<body>
    <nav class="navbar fixed-top" style="background-color: #0A9781; height: 100px;">
        <div class="container-fluid">
          <a class="navbar-brand text-white font-size-2" href="/home">Medication SignUp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation" style="background-color: #fff">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#0A9781" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
              </svg>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Medication SignUp</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body" style="background-color: #0A9781;">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link text-white" href="/home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active text-white" aria-current="page" href="/medicamentos">Registrar</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="/lista">Ver salvos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="/logout">Sair</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </nav>
</body>

</html>